<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>树洞Secret-我要说秘密</title>
    <meta name="description" content="树洞Secret,一个分享秘密的地方">
    <script src="//cdn.bootcss.com/jquery/2.1.2/jquery.js" ></script>
  </head>
  <body>
    <section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-vcentered">
              <div class="column">
                <p class="title">
                  树洞Secret
                </p>
                <br />
                <p class="subtitle">
                  大声说出你自己！
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="hero-foot">
          <div class="container">
            <nav class="tabs is-boxed">
              <ul>
                <li>
                  <a href="/#/index">秘密墙</a>
                </li>
                <li>
                  <a href="/admin">我要说秘密</a>
                </li>
                <li >
                  <a href="/#/about">关于</a>
                </li>
              </ul>
            </nav></div>
          </div>

        </section>
    <section class="section is-medium">
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-6">
            <div class="card" >
              <div class="tile is-parent">
                <article class="tile is-child is-primary">
                  <div id="addUser">
                    <div class="field">
                      <label class="label">标题</label>
                      <p class="control">
                        <input id="inputUserName"  class="input" type="text" placeholder="做个标题党吧">
                      </p>
                    </div>
                    <br />

                    <div class="field">
                      <label class="label">写上你的悄悄话</label>
                      <p class="control">
                        <textarea id="inputUserMaintext" class="textarea" placeholder="写上悄悄话"></textarea>
                      </p>
                    </div>
                    <br />
                    <br />
                    <div class="field is-grouped">
                      <p class="control">
                        <button id="btnAddUser" class="button is-primary">提交</button>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
     <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
          <br />
            <h2>あい。</h2>
            <p>
              © 2017 Copyright 蔓舞寻樱
            </p>

          </div>
        </div>
      </footer>
      <script src="/static/js/admin.6b6cf97db7f7e882.js" ></script>
  </body>
</html>
