<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>树洞Secret</title>
    <meta name="description" content="树洞Secret,一个分享秘密的地方">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body class="layout-default">
      <div id=headerapp></div>
      <div class="container">
          <div id=app>
          </div>
      </div>
      <div id=footerapp></div>
    <script src="/static/js/vendors.1d57cdfaf8a118c5.js"></script>
    <script src="/static/js/main.37924184d7633334.js"></script>
  </body>
</html>
